<section class="tableVp">
  <h3 class="tittle text-center">All Coupon</h3>
  <div class="container">
    <div class="row">
      <a href="/admin/add-coupon" class="btn btn-success" style="width: 120px; display: block; margin-left: auto; margin-bottom:2rem;">Add Product</a>
    </div>
    <table class="table" style="color: #fff;background-color: #7ed0de;border-radius: 1rem;" id="order-listing">
      <thead>
        <tr>
          <th scope="col">.</th>
          <th scope="col">Name</th>
          <th scope="col">Offer Rs</th>
          <th scope="col">Minimum Purchase</th>
          <th scope="col">Coupon Code</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each coupons}}
        <tr style="background-color: #140e0e;">
          <th scope="row">.</th>
          <td>{{name}}</td>
          <td>{{offer}}</td>
          <td>{{minPurchase}}</td>
          <td>{{code}}</td>
          <td>
            <a href="/admin/{{_id}}" class="btn btn-primary">Edit</a>
            <a href="/admin/{{_id}}" class="btn btn-danger" onclick="return confirm('Are you want to delete product {{name}}?')">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>

 