<!DOCTYPE html>
<html lang="en">


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/product-list/asset/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/product-list/asset/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/product-list/asset/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/product-list/asset/images/icons/site.html">
    <link rel="mask-icon" href="/product-list/asset/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/product-list/asset/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/product-list/asset/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/style.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/product-list/asset/css/extra.css">




</head>

<body >
     
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo" style="margin-top: 4.55rem;">
                            <img src="/frontHome/assets/img/logo 4.png" alt="" width="105" height="25">
                        </a>

                        <nav class="main-nav" style="margin-left: 51rem;">
                            <ul class="menu sf-arrows">
                                <li class="">
                                    <a href="/admin" class="">Home</a>

                            
                                </li>
                                
                                <li>
                                    <a href="/products" class="">Product</a>

                                    
                                </li>
                                <li >
                                    <a href="/cart" class="">Users</a>

                                    
                                </li>
                                 <li  class="megamenu-container active">
                                    <a href="/orders" class="">Orders</a>

                                    
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

<section>
<section>
  <div class="container fadeInDown third">
    <table class="table mt-5">
      <thead class="tableHead">
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style=" font-size: 18px;">{{user.username}}</td>
          <td style=" font-size: 18px;">{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>






  <form action="/admin/viewUserOrderProducts/{{orderId}}" method="POST">
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
        <div class="col-md-3 p-3">
          <div class="card" style="width: 15rem; height: 24rem;">
            <img class="card-img-top" src="/product-images/{{this.product._id}}.jpeg" alt="card image cap" style="height: 12rem;">
            <div class="card-body">
              <h5 class="card-title" style="color: #68a952;">{{this.product.Name}}</h5>
              <p class="card-text">₹{{this.product.Price}}</p>
              <p class="card-text">Quantity: {{this.quantity}}</p>
              <p class="card-text">{{this.description}}</p>
              <a href="/detail-view/{{this.product._id}}"><button class="btn btn-success">View product</button></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6">
       <div class="btn-group">
  <button type="button" style=" margin-left: 38rem;" class="btn btn-outline-primary-2 btn-order dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Update Status
  </button>
  <div class="dropdown-menu">
    {{#if orderReturn}}
    <a class="dropdown-item" href="/admin/changeOrderStatus/{{orderId}}/Return-Accepted">Return Accepted</a>
{{else}}
    <a class="dropdown-item" href="/admin/changeOrderStatus/{{orderId}}/delay">Delay</a>
    <a class="dropdown-item" href="/admin/changeOrderStatus/{{orderId}}/delivered">Delivered</a>
    {{/if}}
  </div>
</div>

      </div>
      <div class="col-md-6">
        <input type="hidden" name="orderId" value="{{orderId}}">
        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
          <span class="btn-text">Remove Order</span>
          <span class="btn-hover-text">Click to Remove</span>
        </button>
      </div>
    </div>
  </div>
</form>
</section>
    