{{!-- <div class="main-banner" id="home">
  <header class="header">
    <div class="container-fluid px-lg-5">
      <!-- nav -->
      <nav class="py-4">
        <div id="logo">
          <h1>
            <a href=""><span class="fa fa-bold" aria-hidden="true"></span>MedX
              Pharma</a>
          </h1>
        </div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu mt-2">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog.html">products</a></li>
          <li>
            <!-- First Tier Drop Down -->
            <label for="drop-2" class="toggle">Account
              <span class="fa fa-angle-down" aria-hidden="true"></span>
            </label>
            <a href="#">
                {{!-- {{#if user}} --}}
                {{!-- {{user.Name}} --}}
              {{!-- {{else}} --}}
                {{!-- <i class="fas fa-user-alt-slash"></i>
                Account
              {{!-- {{/if}} --}}
              {{!-- <span class="fa fa-angle-down" aria-hidden="true"></span></a>
            <input type="checkbox" id="drop-2" />
            {{#if loggedIn}}
              <ul>
                <li><a href="/logout">Logout</a></li>
              </ul>
            {{else}}
              <ul>
                <li><a href="/login">Login</a></li>
              </ul>
            {{/if}}
          </li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <!-- //nav -->
    </div>

  </header>

  <div class="banner-info">
   {{#if loggedIn}}
    <p>Welcome{{user.username}}</p>
   {{else}}
    <p>Grab your Medicines</p>
   {{/if}}
    <h3 class="mb-4">MedX India's Largest Online Pharma</h3>
    <div class="ban-buttons">
      <a href="shop-single.html" class="btn">Shop Now</a>
      <a href="single.html" class="btn active">Read More</a>
    </div>
  </div>
</div> --}} 


