 <!DOCTYPE html>
<html lang="en">


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/product-list/asset/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/product-list/asset/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/product-list/asset/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/product-list/asset/images/icons/site.html">
    <link rel="mask-icon" href="/product-list/asset/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/product-list/asset/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/product-list/asset/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/style.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/product-list/asset/css/extra.css">
    <link rel="stylesheet" href="/stylesheets/pop.css">

  <!-- Add the following lines to include SweetAlert CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

  <!-- Add the following lines to include SweetAlert JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

</head>

<body>
     
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo" style="margin-top: 4.55rem;">
                            <img src="/frontHome/assets/img/logo 4.png" alt="" width="105" height="25">
                        </a>

                        <nav class="main-nav" style="margin-left: 51rem;">
                            <ul class="menu sf-arrows">
                                <li class="">
                                    <a href="/" class="">Home</a>

                            
                                </li>
                               
                                <li>
                                    <a href="/products" class="">Product</a>

                                    
                                </li>
                                <li  class="megamenu-container active">
                                    <a href="/cart" class="">Cart</a>

                                    
                                </li>
                                 <li>
                                    <a href="/orders" class="">Orders</a>

                                    
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
     

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/product-list/asset/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
               <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb" style="height: 5rem;
                font-size: 1.5rem;">
                        <li class="breadcrumb-item"><a href="index.html" >Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <!---HEADER FINISHED--->

            <!--MAIN CONTENT STARTED-->

  <div class="page-content">
            	<div class="cart">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-lg-9">
<div id="errorMessage" class="error-message" style="display: none;"></div>

<table class="table table-cart table-mobile">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        {{#if products.length}}
            {{#each products}}
            <tr>
                <td class="product-col">
                    <div class="product">
                        <figure class="product-media">
                            <a href="#">
                                <img src="/product-images/{{this.product._id}}.jpeg" alt="Product image">
                            </a>
                        </figure>
                        <h3 class="product-title">
                            <a href="#">{{this.product.Name}}</a>
                        </h3><!-- End .product-title -->
                    </div><!-- End .product -->
                </td>
                <td class="price-col">{{this.product.Price}}</td>





 <td class="quantity-col">
  <!-- Quantity controls -->
  <button style="min-width: 96px;" class="cart-item-count mr-3 btn btn-outline-success" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}', -1)">-</button>
  <span id="{{this.product._id}}">{{this.quantity}}</span>
  <button style="min-width: 96px;" class="cart-item-count ml-3 btn btn-outline-success" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}', 1)">+</button>
</td> 




                <td class="remove-col">
                    <button class="btn-remove" onclick="removeFromCart('{{this._id}}','{{this.product._id}}','{{../user}}')">
                        <i class="icon-close"></i>
                    </button>
                </td>
            </tr>
            {{/each}}
        {{else}}
          <tr>
    <td colspan="5" class="text-center empty-cart" style="font-size: 24px;
    color: red;">Your cart is empty</td>
</tr>

        {{/if}}
        

    </tbody>
</table><!-- End .table table-wishlist -->





	                			<div class="cart-bottom">
			            			<div class="cart-discount">
			            				<form action="#">
			            					<div class="input-group">
				        						<input type="text" class="form-control" required placeholder="coupon code">
				        						<div class="input-group-append">
													<button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
												</div><!-- .End .input-group-append -->
			        						</div><!-- End .input-group -->
			            				</form>
			            			</div><!-- End .cart-discount -->

			            			<a href="/cart" class="btn btn-outline-dark-2"><span>REFRESH CART</span><i class="icon-refresh"></i></a>
		            			</div><!-- End .cart-bottom -->
	                		</div><!-- End .col-lg-9 -->
	                		<aside class="col-lg-3">
	                			<div class="summary summary-cart">
	                				<h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

	                				<table class="table table-summary">
	                					<tbody>
	                						<tr class="summary-subtotal">
	                							<td>Subtotal:</td>
	                							<td id="subtotal">{{totalValue}}</td>
	                						</tr><!-- End .summary-subtotal -->
	                						<tr class="summary-shipping">
	                							<td>Shipping:</td>
	                							<td>&nbsp;</td>
	                						</tr>

	                						<tr class="summary-shipping-row">
	                							<td>
													<div class="custom-control custom-radio">
														<input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="free-shipping">Free Shipping</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$0.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="standart-shipping">Standart:</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$10.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="express-shipping">Express:</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$20.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-estimate">
	                							<td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
	                							<td>&nbsp;</td>
	                						</tr><!-- End .summary-shipping-estimate -->

	                						<tr class="summary-total">
	                							<td>Total:</td>
	                							<td id="total">{{totalValue}}</td>
	                						</tr><!-- End .summary-total -->
	                					</tbody>
	                				</table><!-- End .table table-summary -->

  {{#if products.length}}



            <a href="/place-order" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
        {{else}}
            <a href="/products" class="btn btn-outline-primary-2 btn-order btn-block">CONTINUE SHOPPING</a>
        {{/if}}


	                				{{!-- <a href="/place-order" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a> --}}
	                			</div><!-- End .summary -->

		            			<a href="/products" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
	                		</aside><!-- End .col-lg-3 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <!--FOOTER STARTED-->


  <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="/product-list/asset/images/logo 4.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Introducing MedXindia, your trusted online medicine delivery company. We revolutionize the way you get prescriptions, offering timely and hassle-free access to medication. With our user-friendly platform, conveniently order high-quality and authentic medicines from the comfort of your home.  </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Our Medicine Partners</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="https://www.mankindpharma.com/">Mankind</a></li>
	            					<li><a href="https://www.lupin.com/"></a>Lupin</li>
	            					<li><a href="https://www.pfizer.com/">Pizer</a></li>
	            					<li><a href="https://www.cipla.com/home">Cipla</a></li>
	            					<li><a href="https://www.hnhhealthcare.in/">H&H</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">24*7 Customer Support</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">offers</a></li>
	            					<li><a href="#">Dr's Support</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Our Offices In India</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Delhi</a></li>
	            					<li><a href="cart.html">Kerala</a></li>
	            					<li><a href="#">Ahmadhabadh</a></li>
	            					<li><a href="#">Mumbai</a></li>
	            					<li><a href="#">Chennai</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2023 MedX India. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/product-list/asset/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->

         <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>




{{!-- ORGINAL --}}
 {{!-- <script>
function changeQuantity(cartId, proId, userId, count) {
  let quantity = parseInt(document.getElementById(proId).innerHTML);
  count = parseInt(count);

  $.ajax({
    url: '/change-product-quantity',
    data: {
      user: userId,
      cart: cartId,
      product: proId,
      count: count,
      quantity: quantity
    },
    method: 'post',
    success: (response) => {
      if (response.removeProduct) {
        Swal.fire({
          title: 'Product Removed from Cart',
          icon: 'success',
          showConfirmButton: false,
          timer: 1500
        }).then(() => location.reload());
      } else {
        document.getElementById(proId).innerHTML = quantity + count;
        document.getElementById('subtotal').innerHTML = response.total;
        document.getElementById('total').innerHTML = response.total;
      }
    }
  });
} 

</script> --}}




<script>

function changeQuantity(cartId, proId, userId, count) {
  let quantity = parseInt(document.getElementById(proId).innerHTML);
  count = parseInt(count);

  $.ajax({
    url: '/change-product-quantity',
    data: {
      user: userId,
      cart: cartId,
      product: proId,
      count: count,
      quantity: quantity
    },
    method: 'post',
    success: (response) => {
      if (response.removeProduct) {
        Swal.fire({
          title: 'Product Removed from Cart',
          icon: 'success',
          showConfirmButton: false,
          timer: 1500
        }).then(() => location.reload());
      } else if (response.error) {
        Swal.fire({
          title: 'Error',
          text: response.error,
          icon: 'error',
          showConfirmButton: false,
          timer: 1500
        });
      } else {
        document.getElementById(proId).innerHTML = quantity + count;
        document.getElementById('subtotal').innerHTML = response.total;
        document.getElementById('total').innerHTML = response.total;
      }
    }
  });
}



function removeFromCart(cartId, proId, userId) {
  Swal.fire({
    title: 'Remove Product',
    text: 'Are you sure you want to remove this product from the cart?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Remove',
    cancelButtonText: 'Cancel'
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        url: '/remove-from-cart',
        data: {
          user: userId,
          cart: cartId,
          product: proId
        },
        method: 'post',
        success: function(response) {
          Swal.fire({
            title: 'Product Removed',
            icon: 'success',
            showConfirmButton: false,
            timer: 1500
          }).then(() => location.reload());
        }
      });
    }
  });
}

</script>

 



         <!-- Plugins JS File -->
    <script src="/product-list/asset/js/jquery.min.js"></script>
    <script src="/product-list/asset/js/bootstrap.bundle.min.js"></script>
    <script src="/product-list/asset/js/jquery.hoverIntent.min.js"></script>
    <script src="/product-list/asset/js/jquery.waypoints.min.js"></script>
    <script src="/product-list/asset/js/superfish.min.js"></script>
    <script src="/product-list/asset/js/owl.carousel.min.js"></script>
    <script src="/product-list/asset/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/product-list/asset/js/main.js"></script>

</body>
</html>