<!DOCTYPE html>
<html lang="en">


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/product-list/asset/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/product-list/asset/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/product-list/asset/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/product-list/asset/images/icons/site.html">
    <link rel="mask-icon" href="/product-list/asset/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/product-list/asset/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/product-list/asset/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/style.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/product-list/asset/css/extra.css">




</head>

<body>
     
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo" style="margin-top: 4.55rem;">
                            <img src="/frontHome/assets/img/logo 4.png" alt="" width="105" height="25">
                        </a>

                        <nav class="main-nav" style="margin-left: 51rem;">
                            <ul class="menu sf-arrows">
                                <li class="">
                                    <a href="/" class="">Home</a>

                            
                                </li>
                             
                                <li>
                                    <a href="/products" class="">Product</a>

                                    
                                </li>
                                <li >
                                    <a href="/cart" class="">Cart</a>

                                    
                                </li>
                                 <li  class="megamenu-container active">
                                    <a href="/orders" class="">Orders</a>

                                    
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <!--MAIN CONTENT STARTED-->




{{!-- ORGIINAL --}}
<section>
  <div class="container fadeInDown third">
    <table class="table mt-5">
      <thead class="tableHead">
        <tr>
          <th scope="col">Date</th>
          <th>Address</th>
          <th>Pincode</th>
          <th>Mobile</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment</th>
          <th>Status</th>
          <th>Products</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <td style="font-size: 1rem;">{{this.date}}</td>
          <td style="font-size: 1rem;">{{this.deliveryDetails.address}}</td>
          <td style="font-size: 1rem;">{{this.deliveryDetails.pincode}}</td>
          <td style="font-size: 1rem;">{{this.deliveryDetails.mobile}}</td>
          <td style="font-size: 1rem;">₹{{this.totalAmount}}.00</td>
          <td style="font-size: 1rem;">{{this.paymentMethod}}</td>
          <td style="font-size: 1rem;">{{this.status}}</td>
          <td>
            <a href="/view-order-products/{{this._id}}" class="btn btn-primary cartButton">View Products</a>
          </td>



<td>
  {{#if this.showCancelButton}}
    {{#if this.canReturn}}
      <a href="/returnOrder/{{this._id}}" class="btn btn-primary cartButton">Return Order</a>
    {{else}}
      <a style="margin-left: 3rem;" href="/removeOrder/{{this._id}}" class="btn btn-primary cartButton">Cancel Order</a>
    {{/if}}
  {{/if}}
</td>



        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>



            <!--FOOTER--->


  <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="/product-list/asset/images/logo 4.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Introducing MedXindia, your trusted online medicine delivery company. We revolutionize the way you get prescriptions, offering timely and hassle-free access to medication. With our user-friendly platform, conveniently order high-quality and authentic medicines from the comfort of your home.  </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Our Medicine Partners</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="https://www.mankindpharma.com/">Mankind</a></li>
	            					<li><a href="https://www.lupin.com/"></a>Lupin</li>
	            					<li><a href="https://www.pfizer.com/">Pizer</a></li>
	            					<li><a href="https://www.cipla.com/home">Cipla</a></li>
	            					<li><a href="https://www.hnhhealthcare.in/">H&H</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">24*7 Customer Support</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">offers</a></li>
	            					<li><a href="#">Dr's Support</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Our Offices In India</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Delhi</a></li>
	            					<li><a href="cart.html">Kerala</a></li>
	            					<li><a href="#">Ahmadhabadh</a></li>
	            					<li><a href="#">Mumbai</a></li>
	            					<li><a href="#">Chennai</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2023 MedX India. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/product-list/asset/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->


         <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>



         <!-- Plugins JS File -->
    <script src="/product-list/asset/js/jquery.min.js"></script>
    <script src="/product-list/asset/js/bootstrap.bundle.min.js"></script>
    <script src="/product-list/asset/js/jquery.hoverIntent.min.js"></script>
    <script src="/product-list/asset/js/jquery.waypoints.min.js"></script>
    <script src="/product-list/asset/js/superfish.min.js"></script>
    <script src="/product-list/asset/js/owl.carousel.min.js"></script>
    <script src="/product-list/asset/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/product-list/asset/js/main.js"></script>

</body>
</html>