 <!DOCTYPE html>
<html lang="en">


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/product-list/asset/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/product-list/asset/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/product-list/asset/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/product-list/asset/images/icons/site.html">
    <link rel="mask-icon" href="/product-list/asset/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/product-list/asset/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/product-list/asset/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/style.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/product-list/asset/css/extra.css">

{{!-- <!-- Add the following lines to include SweetAlert CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

  <!-- Add the following lines to include SweetAlert JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script> --}}


</head>

<body>
     
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo" style="margin-top: 4.55rem;">
                            <img src="/frontHome/assets/img/logo 4.png" alt="" width="105" height="25">
                        </a>

                        <nav class="main-nav" style="margin-left: 51rem;">
                            <ul class="menu sf-arrows">
                                <li class="">
                                    <a href="/" class="">Home</a>

                            
                                </li>
                               
                                <li>
                                    <a href="/products" class="">Product</a>

                                    
                                </li>
                                <li  class="megamenu-container active">
                                    <a href="/cart" class="">Cart</a>

                                    
                                </li>
                                 <li>
                                    <a href="/orders" class="">Orders</a>

                                    
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
     

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/product-list/asset/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">MEDICINES<span>CHECKOUT</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
               <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb" style="height: 5rem;
                font-size: 1.5rem;">
                        <li class="breadcrumb-item"><a href="index.html" >Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Check Out</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			{{!-- <div class="checkout-discount">
            				<form action="" id="checkout-for">
        						<input type="text" class="form-control" name="userEnterCoupon" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
            				</form>
            			</div><!-- End .checkout-discount --> --}}
            			<form action="" id="checkout-form">
                             <div class="checkout-discount">
                                <h3 class="alert alert-danger mt-3">Before Enter coupon please conform its Not expired</h3>
  <input style="margin-top: 1rem;" type="text" class="form-control" name="userEnterCoupon"  id="checkout-discount-input" placeholder="Enter coupon code">

   
  </div><!-- End .checkout-discount -->
		                	<div class="row">


<div class="col-lg-9">
  <h2 class="checkout-title" style="  font-size: 24px;">Billing Details</h2>
  <div class="row">
    <h2 class="checkout-title">User Address</h2>


{{#each addresses}}
<div id="address-{{@index}}" style="margin-top: 6rem;">
  <p><strong>Address:</strong> {{this.address}}</p>
  <p><strong>Pincode:</strong> {{this.pincode}}</p>
  <p><strong>Mobile Number:</strong> {{this.mobile}}</p>
</div>

<a href="/edit-address/{{this._id}}" class="btn btn-outline-primary-2 btn-order btn-block" style="margin-left: 2rem; margin-top: 3rem; width: 40rem; height: 5rem;">
  <span class="btn-text">Edit Address</span>
  <span class="btn-hover-text">Click To Edit</span>
</a>



{{!-- <a href="#" class="btn btn-outline-primary-2 btn-order btn-block" onclick="editAddress({{@index}})" style="margin-left: 2rem; margin-top: 3rem; width: 40rem; height: 5rem;">
  <span class="btn-text">Edit Address</span>
  <span class="btn-hover-text">Click To Edit</span>
</a> --}}
<a href="#" class="btn btn-outline-primary-2 btn-order btn-block" onclick="useAddress('{{this.address}}', '{{this.pincode}}', '{{this.mobile}}')" style="margin-left: 2rem; margin-top: 3rem; width: 40rem; height: 5rem;">
  <span class="btn-text">Use Address</span>
  <span class="btn-hover-text">You Selected This</span>
</a>

<a href="/delete-address/{{this._id}}" class="btn btn-outline-primary-2 btn-order btn-block" style="margin-left: 2rem; margin-top: 3rem; width: 40rem; height: 5rem;">
  <span class="btn-text">Delete Address</span>
  <span class="btn-hover-text">Click To Delete</span>
</a>

{{!-- <a href="#" class="btn btn-outline-primary-2 btn-order btn-block" onclick="deleteAddress({{@index}})" style="margin-left: 2rem; margin-top: 3rem; width: 40rem; height: 5rem;">
  <span class="btn-text">Delete Address</span>
  <span class="btn-hover-text">Click To Delete</span>
</a> --}}
{{/each}}

<h2 class="checkout-title">Add Address</h2>
<div class="row">
  <div class="col-sm-6">
    <label>Mobile Number *</label>
    <input type="number" class="form-control" id="mobile" name="mobile">
    <input type="hidden" name="userId" value="{{user._id}}">
  </div>
  <div class="col-sm-6">
    <label>Pincode *</label>
    <input type="number" class="form-control" id="pincode" name="pincode">
  </div>
</div>
<div class="col-sm-6" style="padding-left: 0rem; width: 41rem;">
  <label>Address</label>
  <input type="text" name="address" style="height: 10rem;" id="address" class="form-control">
</div>
<a href="#" class="btn btn-outline-primary-2 btn-order btn-block" id="addAddressBtn" style="margin-top: 3rem; width: 40rem; height: 5rem;">
  <span class="btn-text">Add Address</span>
  <span class="btn-hover-text">Click To Add</span>
</a>




     </div> 
     </div>  


		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total Rs</th>
		                						</tr>
		                					</thead>

		                					<tbody>
                                                {{#each products}}
		                						<tr>
		                							<td><a href="#">{{this.product.Name}}</a></td>
		                							<td>{{this.product.Price}}</td>
		                						</tr>
                                                {{/each}}
		                						
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>{{total}}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>{{total}}</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    <div class="card">
										        <div class="card-header" id="heading-1">
										            <h2 class="card-title">
										                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
										                    Direct bank transfer
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
										            <div class="card-body">
										                Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-2">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										                    Check payments
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
										            <div class="card-body">
										                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        {{!-- <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a class="collapsed" value="COD" role="button" name="payment-method" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                    Cash on delivery
										                </a>
										            </h2>
										        </div><!-- End .card-header --> --}}
                                                <div class="card-header" id="heading-3">
    <h2 class="card-title">
        <label>
            <input type="radio" class="collapsed" value="COD" name="payment-method" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
            Cash on delivery
        </label>
    </h2>
</div><!-- End .card-header -->
 <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
                                    <div class="card-header" id="heading-3">
    <h2 class="card-title">
        <label>
            <input type="radio" class="collapsed" value="ONLINE" name="payment-method" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
           Online Payment
        </label>
    </h2>
</div><!-- End .card-header -->
								
										        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->

{{!-- <div class="card-header" id="heading-3">
    <h2 class="card-title">
        {{#if useWallet}}
            <label>
                <input type="radio" class="collapsed" value="WALLET" name="payment-method" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                Use Wallet (Balance: {{wallet.amount}})
            </label>
        {{else}}
            <label>
                <input type="radio" class="collapsed" value="WALLET" name="payment-method" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3" disabled>
                Use Wallet
            </label>
            <div class="error-msg" style="color: red; font-weight: bold;">
                Insufficient funds in your wallet.please choose a different payment method or You can choose wallet plus Online Payment.
            </div>
        {{/if}}
    </h2>
</div><!-- End .card-header --> --}}
<div class="card-header" id="heading-3">
    <h2 class="card-title">
        {{#if useWallet}}
            <label>
                <input type="radio" class="collapsed" value="WALLET" name="payment-method" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                Use Wallet (Balance: {{wallet.amount}})
            </label>
        {{else}}
            <label>
                <input type="radio" class="collapsed" value="WALLET" name="payment-method" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3" disabled>
                Use Wallet
            </label>
            <div class="error-msg" style="color: red; font-weight: bold;">
                Insufficient funds in your wallet.please choose a different payment method or You can choose wallet plus Online Payment.
            </div>
             <label>
                <input type="radio" class="collapsed" value="WALLET-PLUS-ONLINE" name="payment-method" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                Use Wallet Plus Online
            </label>
        {{/if}}
    </h2>
</div><!-- End .card-header -->


                                                
{{!-- 
<div class="card-header" id="heading-3">
    <h2 class="card-title">
        <label>
            <input type="radio" class="collapsed" value="WALLET" name="payment-method" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
           Use Wallet
        </label>
        check wallet amount greater than or equal total is not please show a sweet error
    </h2>
</div><!-- End .card-header --> --}}
								
					
				   



										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-4">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
										                    PayPal <small class="float-right paypal-link">What is PayPal?</small>
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
										            <div class="card-body">
										                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-5">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
										                    Credit Card (Stripe)
										                    <img src="/product-list/asset/images/payments-summary.png" alt="payments cards">
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
										            <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->
										</div><!-- End .accordion -->





		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->




            <!--FOOTER STARTED-->


  <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="/product-list/asset/images/logo 4.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Introducing MedXindia, your trusted online medicine delivery company. We revolutionize the way you get prescriptions, offering timely and hassle-free access to medication. With our user-friendly platform, conveniently order high-quality and authentic medicines from the comfort of your home.  </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Our Medicine Partners</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="https://www.mankindpharma.com/">Mankind</a></li>
	            					<li><a href="https://www.lupin.com/"></a>Lupin</li>
	            					<li><a href="https://www.pfizer.com/">Pizer</a></li>
	            					<li><a href="https://www.cipla.com/home">Cipla</a></li>
	            					<li><a href="https://www.hnhhealthcare.in/">H&H</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">24*7 Customer Support</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">offers</a></li>
	            					<li><a href="#">Dr's Support</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Our Offices In India</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Delhi</a></li>
	            					<li><a href="cart.html">Kerala</a></li>
	            					<li><a href="#">Ahmadhabadh</a></li>
	            					<li><a href="#">Mumbai</a></li>
	            					<li><a href="#">Chennai</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2023 MedX India. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/product-list/asset/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->


         <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>





<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                alert("Continue With Online payment")
                if (response.codSuccess) {
                    location.href = '/order-success'
                }
                else {
                    
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_i8bRHxqtJvHhyp", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Med X India",
            "description": "Test Transaction",
            "image": " ",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
               
                verifyPayment(response,order)
            },
            "prefill": {
                "name": "admin",
                "email": "admin@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "medx Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order,
            
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    location.href = '/order-success'
                }else{
                    
                    alert("payment failed")
                    location.href='/'
                }
            }
        })
    }
</script>


<script>
  document.getElementById('addAddressBtn').addEventListener('click', function(event) {
    event.preventDefault();
    const userId = document.querySelector('input[name="userId"]').value;
    const mobile = document.getElementById('mobile').value;
    const pincode = document.getElementById('pincode').value;
    const address = document.getElementById('address').value;
    
    const url = `/addAddress/${userId}`;
    const data = {
      mobile: mobile,
      pincode: pincode,
      address: address
    };

    // Send AJAX POST request
    const xhr = new XMLHttpRequest();
    xhr.open('POST', url);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function() {
      if (xhr.status === 200) {
        // Success: Refresh the page
        location.reload();
      } else {
        // Error: Show error message
        console.error('Error adding address:', xhr.responseText);
      }
    };
    xhr.send(JSON.stringify(data));
  });
</script>

<script>
  function useAddress(address, pincode, mobile) {
    document.getElementById('address').value = address;
    document.getElementById('pincode').value = pincode;
    document.getElementById('mobile').value = mobile;
  }
</script>





         <!-- Plugins JS File -->
    <script src="/product-list/asset/js/jquery.min.js"></script>
    <script src="/product-list/asset/js/bootstrap.bundle.min.js"></script>
    <script src="/product-list/asset/js/jquery.hoverIntent.min.js"></script>
    <script src="/product-list/asset/js/jquery.waypoints.min.js"></script>
    <script src="/product-list/asset/js/superfish.min.js"></script>
    <script src="/product-list/asset/js/owl.carousel.min.js"></script>
    <script src="/product-list/asset/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/product-list/asset/js/main.js"></script>

</body>
</html>