

<!--PRODUCT LIST-->
 <!DOCTYPE html>
<html lang="en">


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/product-list/asset/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/product-list/asset/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/product-list/asset/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/product-list/asset/images/icons/site.html">
    <link rel="mask-icon" href="/product-list/asset/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/product-list/asset/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/product-list/asset/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/style.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/product-list/asset/css/extra.css">




</head>

<body>
   
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo" style="margin-top: 4.55rem;">
                            <img src="/frontHome/assets/img/logo 4.png" alt="" width="105" height="25">
                        </a>

                        <nav class="main-nav" style="margin-left: 30rem;">
                            <ul class="menu sf-arrows">
                                <li >
                                 
                                    <a href="/" class="">Home</a>

                            
                                </li>
                                
                                <li class="megamenu-container active">
                                    <a href="product.html" class="">Product</a>

                                    
                                </li>
                                 <li class="megamenu-container ">
                                    <a href="/wallet" class="">Wallet</a>

                                    
                                </li>
                                 <li class="megamenu-container ">
                                    <a href="/coupon" class="">Coupon</a>

                                    
                                </li>
                                  <li>
                                    <a href="/orders" class="">Orders</a>

                                    
                                </li>
                                <li>
                                    {{#if user}}
                                    <a href="/cart" style="padding-bottom: 3.5rem;"><span><i class=""></i></span> Cart<span class="badge badge-success ml-1" id="cart-count">{{cartCount}}</span></a>
                                    {{else}}
                                    <a href="/login"  style="padding-bottom: 3.5rem;"><span><i class=""></i></span> Cart<span class="badge badge-success ml-1" id="cart-count">{{cartCount}}</span></a>
                                    {{/if}}
                                </li>
                               
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                   
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/product-list/asset/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">All<span></span>Medicines</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb" style="height: 5rem;
                font-size: 1.5rem;">
                        <li class="breadcrumb-item"><a href="index.html" >Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Medicines</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row justify-content-center">
                		<div class="col-lg-9">
                            
                		
                               
<div class="toolbox">
    <h5 class="text-danger mt-5 text-center product-not-found" id="para" style="display: none;">Product Not Found</h5>
    <div class="toolbox-right">
        <div class="toolbox-sort">
            <form id="searchForm" action="/search" method="GET">
                <div style="display: flex; align-items: center;">
                    <label for="searchInput" style="margin-right: 10px;">Search Medicine:</label>
                    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                        <input name="search" id="searchInput" placeholder="Live searching...." class="form-control" style="margin-right: 10px;" required>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- End .toolbox-right -->
</div>

<div id="searchResults"></div>



{{!-- ORGINAL CODE FOR SEARCH --}}
	{{!-- <div class="toolbox"></div>
    <h5 class="text-danger mt-5 text-center product-not-found" id="para" style="display: none;">Product Not Found</h5>
                				{{!-- <div class="toolbox-right">       
                					<div class="toolbox-sort">
                						<label for="sortby">Search Medicine:</label>
                						<div class="">
											<input name="sortby" id="searchInput" placeholder="Live searching...." class="form-control">                    
										</div>              
                					</div>   
                				</div><!-- End .toolbox-right --> 
                			</div><!-- End .toolbox -->--}}
               
<!-- Product list section -->
{{!-- <div class="products mb-3" id="productContainer">
  {{#each products}}
    <div class="product product-list product-item" data-price="{{this.Price}}" data-category="{{this.Category}}">
      <div class="row">
      <div class="col-6 col-lg-3">
        <figure class="product-media">
          <span class="product-label label-new">New</span>
          <a href="product.html">
            <img src="/product-images/{{this._id}}.jpeg">
          </a>
        </figure><!-- End .product-media -->
      </div><!-- End .col-6 col-lg-3 -->

      <div class="col-6 col-lg-3 order-lg-last">
        <div class="product-list-action">
          <div class="product-price">
            {{this.Price}}
          </div><!-- End .product-price -->

          <div class="product-action">
            <a href="/detail-view/{{this._id}}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
            <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
          </div><!-- End .product-action -->

          <a href="/detail-view/{{this._id}}" class="btn-product btn-cart"><span>buy now</span></a>

        </div><!-- End .product-list-action -->
      </div><!-- End .col-6 col-lg-3 -->

      <div class="col-lg-6">
        <div class="product-body product-action-inner">
          <a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
          <div class="product-cat">
            <a href="#">{{this.Category}}</a>
          </div><!-- End .product-cat -->
          <h3 class="product-title"><a href="product.html">{{this.Name}}</a></h3><!-- End .product-title -->

          <div class="product-content">
            <p>{{this.Description}}</p>
          </div><!-- End .product-content -->

          <div class="product-nav product-nav-thumbs">
            <a href="#" class="active">
              <img src="/product-images/{{this._id}}.jpeg">
            </a>
            <a href="#">
              <img src="/product-images/{{this._id}}.jpeg">
            </a>
            <a href="#">
              <img src="/product-images/{{this._id}}.jpeg">
            </a>
          </div><!-- End .product-nav -->

        </div><!-- End .product-body -->
      </div><!-- End .col-lg-6 -->
 </div><!-- End .row -->
    </div><!-- End .product -->
  {{/each}}
</div><!-- End .products -->
 --}}
{{!-- TESTING OUT OF STOCK --}}
<div class="products mb-3" id="productContainer">
 
  {{#each products}}
    <div class="product product-list product-item" data-price="{{this.Price}}" data-category="{{this.Category}}">
      <div class="row">
        <div class="col-6 col-lg-3">
          <figure class="product-media">
            <span class="product-label label-new">New</span>
            <a href="product.html">
              <img src="/product-images/{{this._id}}.jpeg">
            </a>
          </figure><!-- End .product-media -->
        </div><!-- End .col-6 col-lg-3 -->

        <div class="col-6 col-lg-3 order-lg-last">
          <div class="product-list-action">
            <div class="product-price">
              {{this.Price}}
            </div><!-- End .product-price -->

            <div class="product-action">
              {{#if STOCK}}
                <a href="/detail-view/{{this._id}}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
              {{/if}}


            </div><!-- End .product-action -->
              {{#if STOCK}}
                <a href="/detail-view/{{this._id}}" class="btn-product btn-cart"><span>buy now</span></a>
              {{else}}
                <h4 class="out-of-stock">Out of Stock</h4>
              {{/if}}
          </div><!-- End .product-list-action -->
        </div><!-- End .col-6 col-lg-3 -->

        <div class="col-lg-6">
          <div class="product-body product-action-inner">
            <a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
            <div class="product-cat">
              <a href="#">{{this.Category}}</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">{{this.Name}}</a></h3><!-- End .product-title -->

            <div class="product-content">
              <p>{{this.Description}}</p>
            </div><!-- End .product-content -->

            <div class="product-nav product-nav-thumbs">
              <a href="#" class="active">
                <img src="/product-images/{{this._id}}.jpeg">
              </a>
              <a href="#">
                <img src="/product-images/{{this._id}}.jpeg">
              </a>
              <a href="#">
                <img src="/product-images/{{this._id}}.jpeg">
              </a>
            </div><!-- End .product-nav -->

          </div><!-- End .product-body -->
        </div><!-- End .col-lg-6 -->
     </div><!-- End .row -->
    </div><!-- End .product -->
  {{/each}}
</div><!-- End .products -->





{{!-- NOT SHOW THE PAGE NUMBERS --}}
<div class="pagination">
  {{#if totalPages}}
    <ul>
      <!-- Debug statement -->
      <li>Current Page: {{currentPage}}, Total Pages: {{totalPages}}</li>

      {{#if (gte (parseInt currentPage) 2)}}
        <li><a href="/products?page={{subtract (parseInt currentPage) 1}}">Previous</a></li>
      {{/if}}

      {{#if (lt (parseInt @root.currentPage) totalPages)}}
        <li><a href="/products?page={{add (parseInt @root.currentPage) 1}}">Next</a></li>
      {{/if}}
    </ul>
  {{/if}}
</div>




                		                     </div>
                                             
                        <!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop sidebarStyle" style="background-color: #fff;">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					{{!-- <a href="#" class="sidebar-filter-clear">Clean All</a> --}}
                				</div><!-- End .widget widget-clean -->

                				<!-- Category filter -->
<!-- Category section -->
<div class="form-group">
  <div class="row">
    <div class="col-lg-3">
      <label for="category">Category</label>
    </div>
    <div class="col-lg-9">
      <div class="btn-group-vertical btn-group-lg" data-toggle="buttons">
        <a href="#" class="btn btn-secondary btn-lg active" data-category="all">All</a>
        {{#each categories}}
          <a href="#" class="btn btn-secondary btn-lg" data-category="{{this.Name}}">{{this.Name}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</div>



  



<!-- Price range filter -->
<div class="widget widget-collapsible">
 
  <div class="collapse show" id="widget-5">
    <div class="widget-body">
      <div class="filter-price">
        <div class="filter-price-text">
          Price Range:
          <span id="filter-price-range"></span>
        </div>
        <div class="filter-price-options">
          <label>
            <input type="checkbox" id="price-0-20" value="0-20">
            0 - 20
          </label>
          <label>
            <input type="checkbox" id="price-20-100" value="20-100">
            20 - 100
          </label>
          <label>
            <input type="checkbox" id="price-100-200" value="100-200">
            100 - 200
          </label>
          <!-- Add more price range options as needed -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sort dropdown -->
<div class="widget">
  <label for="sort">Sort By:</label>
  <select id="sort" class="form-control">
    <option value="">CLICK TO SORT</option>
    <option value="lowToHigh">Price: Low to High</option>
    <option value="highToLow">Price: High to Low</option>
  </select>
</div>

                			</div><!-- End .sidebar sidebar-shop -->
                            
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="/product-list/asset/images/logo 4.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Introducing MedXindia, your trusted online medicine delivery company. We revolutionize the way you get prescriptions, offering timely and hassle-free access to medication. With our user-friendly platform, conveniently order high-quality and authentic medicines from the comfort of your home.  </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Our Medicine Partners</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="https://www.mankindpharma.com/">Mankind</a></li>
	            					<li><a href="https://www.lupin.com/"></a>Lupin</li>
	            					<li><a href="https://www.pfizer.com/">Pizer</a></li>
	            					<li><a href="https://www.cipla.com/home">Cipla</a></li>
	            					<li><a href="https://www.hnhhealthcare.in/">H&H</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">24*7 Customer Support</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">offers</a></li>
	            					<li><a href="#">Dr's Support</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Our Offices In India</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Delhi</a></li>
	            					<li><a href="cart.html">Kerala</a></li>
	            					<li><a href="#">Ahmadhabadh</a></li>
	            					<li><a href="#">Mumbai</a></li>
	            					<li><a href="#">Chennai</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2023 MedX India. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/product-list/asset/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                        <ul>
                            <li><a href="index-1.html">01 - furniture store</a></li>
                            <li><a href="index-2.html">02 - furniture store</a></li>
                            <li><a href="index-3.html">03 - electronic store</a></li>
                            <li><a href="index-4.html">04 - electronic store</a></li>
                            <li><a href="index-5.html">05 - fashion store</a></li>
                            <li><a href="index-6.html">06 - fashion store</a></li>
                            <li><a href="index-7.html">07 - fashion store</a></li>
                            <li><a href="index-8.html">08 - fashion store</a></li>
                            <li><a href="index-9.html">09 - fashion store</a></li>
                            <li><a href="index-10.html">10 - shoes store</a></li>
                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                            <li><a href="index-13.html">13 - market</a></li>
                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                            <li><a href="index-17.html">17 - fashion store</a></li>
                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                            <li><a href="index-19.html">19 - games store</a></li>
                            <li><a href="index-20.html">20 - book store</a></li>
                            <li><a href="index-21.html">21 - sport store</a></li>
                            <li><a href="index-22.html">22 - tools store</a></li>
                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                        <ul>
                            <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="product.html">Default</a></li>
                            <li><a href="product-centered.html">Centered</a></li>
                            <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="product-gallery.html">Gallery</a></li>
                            <li><a href="product-sticky.html">Sticky Info</a></li>
                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                            <li><a href="product-fullwidth.html">Full Width</a></li>
                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>

                                <ul>
                                    <li><a href="about.html">About 01</a></li>
                                    <li><a href="about-2.html">About 02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                                <ul>
                                    <li><a href="contact.html">Contact 01</a></li>
                                    <li><a href="contact-2.html">Contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->


<script>
  $(document).ready(function() {
    // Category filter click event
    $('.btn-group-vertical .btn').click(function(e) {
      e.preventDefault();
      var category = $(this).data('category');

      // Remove active class from all buttons and add it to the clicked button
      $('.btn-group-vertical .btn').removeClass('active');
      $(this).addClass('active');

      // Show/hide products based on the selected category
      if (category === 'all') {
        $('.product-item').show();
      } else {
        $('.product-item').hide();
        $('.product-item[data-category="' + category + '"]').show();
      }
    });
  });
</script>





<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get all the checkbox inputs
    var checkboxes = document.querySelectorAll('.filter-price-options input[type="checkbox"]');

    // Add click event listener to each checkbox
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('click', function() {
        handleCheckboxClick();
      });
    });

    // Function to handle checkbox click event
    function handleCheckboxClick() {
      // Get the selected price range values
      var selectedRanges = [];
      checkboxes.forEach(function(checkbox) {
        if (checkbox.checked) {
          selectedRanges.push(checkbox.value);
        }
      });

      // Show or hide product items based on the selected price ranges
      var productItems = document.querySelectorAll('.product');
      productItems.forEach(function(item) {
        var itemPrice = parseFloat(item.getAttribute('data-price'));
        var shouldShow = false;

        if (selectedRanges.length === 0) {
          shouldShow = true; // Show product if no ranges are selected
        } else {
          selectedRanges.forEach(function(range) {
            var [min, max] = range.split('-').map(parseFloat);
            if (itemPrice >= min && itemPrice <= max) {
              shouldShow = true; // Show product if it falls within any selected range
            }
          });
        }

        if (shouldShow) {
          item.style.display = 'block';
        } else {
          item.style.display = 'none';
        }
      });

      // Update the price range display
      var filterPriceRange = document.getElementById('filter-price-range');
      filterPriceRange.textContent = selectedRanges.join(', ');
    }
  });
</script>

{{!-- ORGINAL --}}
{{!-- <script>
  $(document).ready(function() {
    $('#searchInput').on('input', function() {
      var searchText = $(this).val().toLowerCase();
      var productsFound = false; // Flag to track if any products match the search

      $('.product').each(function() {
        var productName = $(this).find('.product-title').text().toLowerCase();

        if (productName.includes(searchText)) {
          $(this).show(); // Show the product
          productsFound = true;
        } else {
          $(this).hide(); // Hide the product
        }
      });

      if (!productsFound) {
        $('.product-not-found').show(); // Show the "Product Not Found" message
      } else {
        $('.product-not-found').hide(); // Hide the "Product Not Found" message
      }
    });
  });
</script>
 --}}
<script>
    $(document).ready(function() {
        $('#searchButton').click(function(e) {
            e.preventDefault();
            var searchText = $('#searchInput').val();
            
            $.ajax({
                url: '/search',
                method: 'GET',
                data: { search: searchText },
                success: function(response) {
                    $('#searchResults').html(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>

<script>
  // Get the select element
  const sortSelect = document.getElementById('sort');

  // Get the product container
  const productContainer = document.getElementById('productContainer');

  // Add event listener for change event
  sortSelect.addEventListener('change', function() {
    // Get the selected value
    const selectedValue = this.value;

    // Sort products based on the selected value
    if (selectedValue === 'lowToHigh') {
      sortProducts('data-price', 'asc');
    } else if (selectedValue === 'highToLow') {
      sortProducts('data-price', 'desc');
    }
  });

  // Function to sort products
  function sortProducts(attribute, order) {
    const products = Array.from(productContainer.getElementsByClassName('product-item'));
    
    // Sort the products based on the provided attribute and order
    products.sort((a, b) => {
      const aValue = parseFloat(a.getAttribute(attribute));
      const bValue = parseFloat(b.getAttribute(attribute));

      if (order === 'asc') {
        return aValue - bValue;
      } else if (order === 'desc') {
        return bValue - aValue;
      }
    });

    // Reorder the products in the container
    for (const product of products) {
      productContainer.appendChild(product);
    }
  }
</script>





    <!-- Plugins JS File -->
    <script src="/product-list/asset/js/jquery.min.js"></script>
    <script src="/product-list/asset/js/bootstrap.bundle.min.js"></script>
    <script src="/product-list/asset/js/jquery.hoverIntent.min.js"></script>
    <script src="/product-list/asset/js/jquery.waypoints.min.js"></script>
    <script src="/product-list/asset/js/superfish.min.js"></script>
    <script src="/product-list/asset/js/owl.carousel.min.js"></script>
    <script src="/product-list/asset/js/wNumb.js"></script>
    <script src="/product-list/asset/js/bootstrap-input-spinner.js"></script>
    <script src="/product-list/asset/js/jquery.magnific-popup.min.js"></script>
    <script src="/product-list/asset/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="/product-list/asset/js/main.js"></script>
   
</body>


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
</html>